{# templates/back/reclamation/add.html.twig #}

{% extends 'base1.html.twig' %}

{% block title %}Ajouter une Réclamation (Back){% endblock %}

{% block body %}
    <h1>Ajouter une Réclamation (Back)</h1>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit">Ajouter</button>
    {{ form_end(form) }}
{% endblock %}
