{% extends 'base1.html.twig' %}

{% block title %}Confirmation{% endblock %}

{% block body %}
    <div class="container">
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">Confirmation</h4>
            <p>Votre réclamation a été confirmée avec succès.</p>
          
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }} 
{% endblock %}

{% block javascripts %}
    {{ parent() }} 
{% endblock %}
