{% extends 'base.html.twig' %}

{% block body %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <h1 class="mb-4">Liste des Bonus</h1>
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">montant</th>
                </tr>
            </thead>
            <tbody>
                {% for bonus in response %}
                <tr>
                    <td>{{ bonus.montant }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
